<div class="col-lg-10 col-lg-offset-1">
<div class="well">
<table class="table table-responsive table-bordered table-hover">
<h1 class="col-lg-5 bart_font col-lg-offset-4 heading_color">Create A New Route Station</h1>

<%= render 'form' %>

</div>
</div>