@import "bootstrap";
@import "bootstrap-sprockets";

@import url(http://fonts.googleapis.com/css?family=Gloria+Hallelujah);

.gloria_font 
	{
		font-family: 'Gloria Hallelujah', cursive;
	}

.heading_color
	{
		color: #0033CC;
	}

.background_color
	{
		color: #FFFF00;
	}