<div class="col-lg-7 col-lg-offset-2">
<div class="well">

<p class="body_font body_color">
Your options are:
</p>

</div>

<%= link_to "New journey", new_bartjourney_path,
						:class => 'btn btn-info col-lg-offset-4 body_font' %>

</div>